.user-item {
  margin: 1rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
}

.user-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  transition: background 0.3s, color 0.3s;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.user-item a:hover,
.user-item a:active {
  background: rgba(210, 210, 210, 0.218);
}

.user-item__content {
  padding: 0;
}

.user-item__image {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.user-item__info h2 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
  font-weight: 500;
  color: #000000;
  transition: color 0.3s, transform 0.3s;
  transform: scale(1); 
}

.user-item__info h3 {
  margin: 0;
  color: #272a33;
  transition: color 0.3s, transform 0.3s;
  transform: scale(1); 
}

.user-item:hover h2,
.user-item:active h2 {
  color: #0d0d0f;
  transform: scale(1.05); 
}

.user-item:hover h3,
.user-item:active h3 {
  color: #0d0d0f;
  transform: scale(1.03); 
}
