.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #4db6ac;
  transition: all 0.3s ease;
  background-color: #4db6ac;
  color: white;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background-color: #53c8bc;
}

.button--inverse {
  background: transparent;
  color: #000000;
  border-color: #000000;
}

.button--inverse:hover,
.button--inverse:active {
  background: #000000;
  color: white;
}

.button--danger {
  background: #830000;
  border-color: #830000;
  color: white;
}

.button--danger:hover,
.button--danger:active {
  background: #b33131;
  border-color: #b33131;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
