.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #222831;
}

.form-control input,
.form-control textarea {
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  background: #ffffff;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;

  transition: background 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease,
    color 0.3s ease;
  color: #222831;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: #f0f4f8;
  border-color: #1e3a8a;
  box-shadow: 0 0 0 3px rgba(30, 58, 138, 0.2);
}

.form-control--invalid p {
  color: #b91c1c;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: #ef4444;
  background: #fee2e2;
  box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.2);
  transition: all 0.3s ease;
}
