.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 1rem;
}

.nav-links a {
  border: 1px solid transparent;
  color: #f9fafb;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  background: #2563eb;
  border-color: #1e40af;
  color: #f3f4f6;
    border-radius: 6px;

}

.nav-links button {
  cursor: pointer;
  border: 1px solid #f9fafb;
  color: #f9fafb;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}

.nav-links button:focus {
  outline: none;
}

.nav-links button:hover,
.nav-links button:active {
  background: #2563eb;
  color: #f3f4f6;
    border-radius: 6px;

  
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.5rem;
  }

  .nav-links a {
    color: #f9fafb;
    text-decoration: none;
  }

  .nav-links button {
    border: 1px solid #f9fafb;
    color: #f9fafb;
    background: transparent;
  }
  
  .nav-links button:hover,
  .nav-links button:active {
    background: #2563eb;
    color: #f3f4f6;
  }
}
