.modal {
  z-index: 100;
  position: fixed;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 40rem;
  background: #fefefe; /* off-white body */
  border-radius: 10px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25); /* soft shadow */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.25s ease-out;
}

.modal__header {
  padding: 0.75rem 1.5rem;
  background: #111214; 
  color: #ffffff; 
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 2px solid #393e46; 
  margin: 0;
}

.modal__content {
  padding: 1rem;
  color: #000000; 
  font-size: 1.5rem;
  flex: 1;
  overflow-y: auto;
}

.modal__footer {
  padding: 1rem 1.5rem;
  text-align: right;
  border-top: 1px solid #dcdde1;
  background: #eeeeee;
}

.modal-enter {
  transform: translateY(-20vh) scale(0.95);
  opacity: 0;
}
.modal-enter-active {
  transform: translateY(0) scale(1);
  opacity: 1;
  transition: all 250ms ease-out;
}
.modal-exit {
  transform: translateY(0) scale(1);
  opacity: 1;
}
.modal-exit-active {
  transform: translateY(-20vh) scale(0.95);
  opacity: 0;
  transition: all 250ms ease-out;
}

@media (min-width: 768px) {
  .modal {
    top: 25vh;
    width: 40rem;
  }
}
